name: Run code checks
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: read

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Verify formatting
        run: cd pgvectorscale && cargo fmt --check

      - name: Check formatting failure
        if: failure()
        run: |
          echo "cargo version is"
          cargo --version



