name: Run PGRX tests
on: [push, pull_request, workflow_dispatch]
permissions:
  contents: read

jobs:
  tester:
    runs-on: ${{ matrix.platform.runs_on }}

    strategy:
      fail-fast: false
      matrix:
        pgvector:
          - version: 0.8.1
        pg:
          - major: 13
            minor: 16
          - major: 14
            minor: 13
          - major: 15
            minor: 7
          - major: 16
            minor: 3
          - major: 17
            minor: 0
          - major: 18
            minor: 0
        platform:
          - type: amd64
            runs_on: ubuntu-22.04
          - type: arm64
            runs_on: cloud-image-runner-arm64
        parallel_build:
          - enabled: true
            name: "parallel"
            features: "pg_test"
          - enabled: false
            name: "sequential" 
            features: "pg_test"

    env:
      PG_SRC_DIR: pgbuild
      PG_INSTALL_DIR: postgresql
      MAKE_JOBS: 6
      PG_CONFIG_PATH: postgresql/bin/pg_config
      TAG: ${{ github.event.inputs.tag }}
      TAG_DIR: pgvectorscale
      TAG_GIT_REF: ${{ github.event.inputs.TAG_GIT_REF == '' && github.event.inputs.tag || github.event.inputs.TAG_GIT_REF}}

    steps:
    - name: Checkout pgvectorscale
      uses: actions/checkout@v4

    - name: Install Linux Packages
      uses: ./.github/actions/install-packages

    - name: Install PostgreSQL ${{ matrix.pg.major }}
      uses: ./.github/actions/install-postgres
      with:
        pg-version: ${{ matrix.pg.major }}.${{ matrix.pg.minor }}
        pg-src-dir: ~/${{ env.PG_SRC_DIR }}
        pg-install-dir: ~/${{ env.PG_INSTALL_DIR }}
      
    - name: Install pgvector ${{ matrix.pgvector.version }}
      uses: ./.github/actions/install-pgvector
      with:
        pgvector-version: ${{ matrix.pgvector.version }}
        pg-install-dir: ~/${{ env.PG_INSTALL_DIR }}

    - name: Install pgrx
      uses: ./.github/actions/install-pgrx
      with:
        pg-install-dir: ~/${{ env.PG_INSTALL_DIR }}
        pgrx-version: 0.16.1

    - name: Run Clippy (${{ matrix.parallel_build.name }})
      id: clippy
      run: |
        cd pgvectorscale
        cargo clippy --all-targets --no-default-features --features '${{ matrix.parallel_build.features }} pg${{ matrix.pg.major }}${{ matrix.parallel_build.enabled && ' build_parallel' || '' }}'

    - name: Run tests (${{ matrix.parallel_build.name }})
      id: runtests 
      run: |
        cd pgvectorscale
        cargo pgrx test --no-default-features --features '${{ matrix.parallel_build.features }} pg${{ matrix.pg.major }}${{ matrix.parallel_build.enabled && ' build_parallel' || '' }}' -- pg${{ matrix.pg.major }}
