# Test our shell scripts for bugs
name: Shellcheck
on:
  pull_request:
    paths:
      - '**.sh'
      - .github/workflows/shellcheck.yaml
  push:
    paths:
      - '**.sh'
      - .github/workflows/shellcheck.yaml
jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest

    steps:
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install shellcheck

      - name: Checkout
        uses: actions/checkout@v3

      - name: Run shellcheck
        run: |
          make shellcheck && exit 0 || exit 1
